@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
}
body {
  margin-top: 8vh;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
hr {
  width: 60px;
  border: 0;
  margin: 0;
  border-top: 1px solid black;
  padding: 0;
}
.section-separator {
  margin: 0 auto;
  width: 90%;
  border-top: 1px solid #dedddd;
}
.section-separator-footer {
  width: 100%;
  border-top: 1px solid #dedddd;
}

footer {
  background-color: black;
  position: relative;
  margin-top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 14px;
}
.socials {
  display: inline-block;
  margin-right: 20px;
}
.follow,
.socials a {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
}
.follow {
  color: white;
  padding: 50px 0;
}
.socials a {
  text-decoration: none;
  color: #cfcfcf;
  display: inline-block;
}
.socials a:hover {
  color: white;
}
.footer-bottom {
  padding-top: 10px;
}
.copyright {
  line-height: 18px;
  position: absolute;
  left: 30px;
  color: #cfcfcf;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 2px;
}
.privacy-policy a {
  line-height: 18px;
  text-align: center;
  position: relative;
  color: #cfcfcf;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.5px;
}

#myBtn {
  display: none;
}
.back-btn {
  font-family: "Roboto", sans-serif;
  position: fixed;
  right: 14px;
  bottom: 14px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  letter-spacing: 1.5px;
  font-size: 12.5px;
  padding: 12px 20px;
  z-index: 20;
}
.socials-wrap {
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .back-btn {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
  }
  footer {
    margin-bottom: 33px;
  }
}
@media screen and (max-width: 480px) {
  .copyright {
    left: 10px;
  }
  .privacy-policy a {
    position: absolute;
    right: 10px;
  }
  .footer-bottom {
    padding: 10px;
  }
}
